# Ignore these things
bluehat_peripheral/ble_app_template.eww
bluehat_peripheral/hex/
*.DS_Store
bluehat_peripheral/pca10040/s132/armgcc/_build/
bluehat_peripheral/pca10040/s132/armgcc/_build/*
bluehat_peripheral/pca10040/s132/armgcc/Makefile
